# Prismic
# Repository name is set in slicemachine.config.json

# Shopify
SHOPIFY_DOMAIN=alborota-2.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_PRIVATE_ACCESS_TOKEN=

# Formspark
NUXT_PUBLIC_FORMSPARK_FORM_ID=
