@font-face {
  font-family: 'StevieSansBlack';
  src:
    url('/typeface/StevieSansBlack.woff2') format('woff2'),
    url('/typeface/StevieSansBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Diatype Unlicensed Trial';
  src:
    url('/typeface/ABCDiatype-Bold.woff2') format('woff2'),
    url('/typeface/ABCDiatype-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSans';
  src:
    url('/typeface/StevieSans-Bold.woff2') format('woff2'),
    url('/typeface/StevieSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSansBook';
  src:
    url('/typeface/StevieSansBook.woff2') format('woff2'),
    url('/typeface/StevieSansBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSansLight';
  src:
    url('/typeface/StevieSansLight.woff2') format('woff2'),
    url('/typeface/StevieSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSansMedium';
  src:
    url('/typeface/StevieSansMedium.woff2') format('woff2'),
    url('/typeface/StevieSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSansThin';
  src:
    url('/typeface/StevieSansThin.woff2') format('woff2'),
    url('/typeface/StevieSansThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'StevieSans';
  src:
    url('/typeface/StevieSans.woff2') format('woff2'),
    url('/typeface/StevieSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
